Flask==3.0.3
chatterbot>=1.2.3
SQLAlchemy==2.0.41
gunicorn==22.0.0
PyYAML>=6.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
